body {background-image: url("../project/images/wallpaper.webp");
    background-size: 100%;}

header {font-family: 'Cabin Sketch', cursive;
} 


h1, h2 {font-family: 'Amatic SC', cursive;}

.copyright {font-family: 'Cabin Sketch', cursive;
    font-size: 1em;}

nav {font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
font-weight: bolder;}



p, .collection div, .video div,.newrelease, .collection2 div{font-family: 'Josefin Sans', sans-serif;
}

form {font-family: 'Josefin Sans', sans-serif;
    font-size: large;
font-weight: bolder ;}

h1, h2, hr, nav, header, p, .title {text-align:center;}




h1 {font-size: 3.5em;}
h2 {font-size:2.5em;}


header {background-color: #526449;
    color:#FCF6F5FF;
font-size:xx-large;
padding:6px;
}

nav {background-color:#A78B71; padding: 8px;}
    
footer {
    background-color:#526449;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 150px;
color: #FCF6F5FF;
}


.sm {display:flex;
    justify-content: center;
;}
.sm div {margin: 15px;}
.copyright {margin-top: -10px;}




nav a {margin: 50px;
color:#000000;
text-decoration:none;
}

nav a:hover {
    color: #808080;
  }

.title {font-size: larger;margin-top: 20px;}

  @media only screen and (max-width: 600px) {
    nav a {display: block; padding:0px;margin: 10px; }
    a:hover {background-color: #ffffff; }}





    
 .skip {
        background-color:#FFFFFF;
        padding:5px;
        border:1px solid #000000;
        position:absolute;
        left:-999px; 
        margin-top:10px;
      }
      
.skip:focus{
        left:10px;
      }

@media only screen and (max-width: 600px) 
{ nav{display:none;}
.hamicon{display: inline;}

}



      



