body{ background-color:#FFF5E4;
    color: #000000;
   
}

h1, h2{color:#FF9494
}

a{
    color:#ABD9FF;
  }

  nav {
    background-color:#AAC4FF;
    padding: 10px;
    margin-bottom: 30px;
}

 a:hover{  
        background-color:#D18CE0;
    }

nav a {color:#FFFFFF}











